build
.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### unit test tool ###
node_modules
package-lock.json
coverage
